@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --color-secondary: #1d3557;
  --color-accent: #bf983c;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
